.notebook-container-grid {
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://s3.us-east-2.amazonaws.com/mortalnote-images/crisp-paper.jpeg"); */
  /* background-color: green; */
  display: grid;
  grid-template-columns: 241px 10fr 1fr;
}

.logout {
  width: 120px;
  height: 40px;
  justify-self: center;
  align-self: center;
  background-color: #00a82d;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  box-shadow: 3px 3px 10px 5px #000;
  cursor: pointer;
}
