.quill {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(70px, auto) 70px 1fr;
  grid-template-columns: 1fr 1px;
  grid-template-areas:
  "     ql-toolbar       note-trash-icon  "
  "  note-title-input          .  "
  "     ql-container            .    ";
}

.ql-toolbar {
  grid-area: ql-toolbar;
  transition: 0.3s opacity ease;
}
.ql-container {
  grid-area: ql-container;
}

.note-title-input {
  grid-area: note-title-input;
  font-size: 34px;
  outline: none;
  cursor: text;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  text-indent: 13px;
  padding: 0;
}

.note-trash-icon {
  grid-area: note-trash-icon;
  width: 25px;
  height: 25px;
  position: relative;
  /* bottom: 500px; */
  right: 30px;
  top: 8px;
  cursor: pointer;
  transition: 0.1s opacity ease;
}

.note-trash-icon:hover {
  opacity: 0.5;
}
